# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macos
.DS_Store

# py
*.pyc

#build logs
log/

#maps
supervisor/stack_master/maps/*
!supervisor/stack_master/maps/glc_ot_ez
!supervisor/stack_master/maps/GLC_smile_small
!supervisor/stack_master/maps/hangar_1905_v0
!supervisor/stack_master/maps/room_loop
!supervisor/stack_master/maps/ws_everest

.vscode/build
.vscode/log
.vscode/c_cpp_properties.json

